* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #add8e6;
}

header {
    height: 130px;
    line-height: 130px;
    text-align: center;
}

.wrapper {
    width: 60%;
    margin: auto;
}

.row {
    padding-bottom: 7px;
}
 .card-wrapper {
     height: 200px;
     width: 25%;
     padding: 7px;
 }

 .f-left {
     float: left
 }

 .clearfix::after {
     content: "";
     display: table;
     clear: both;
 }

 .card {
     height: 100%;
     width: 100%;
     background-image: url(img/pattern.png);
     background-size: contain;
 }
/* utility classes */

.border {
    border: 1px solid black;
}

.h-100 {
    height: 100px;
}

.h-150 {
    height: 150px;
}

.bg-pink {
    background-color: violet;
}